body {
	/*font-family: monospace;*/
	font-family: arial;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'PT Sans Narrow', sans-serif !important;
}
.post-title{
	font-size: 25px;
    margin-top: 20px;
    font-weight: 900;
    font-family: 'PT Sans Narrow', sans-serif !important;
}
.demo-head{
	text-align: center;
}
.text-center{
	text-align: center;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border:1px solid #a1a1a1 !important;
}
/*Header*/
.header {
	min-height: 75px;
	height: auto;
	background-color: #222222;
	overflow: hidden;
	/*position: fixed;*/
	width: 100%;
	z-index: 950;
	margin-bottom: 90px;
}
.top-ads{
	padding-top: 3px;
}
.head-link{
	width: 100%;
    padding-left: 0px !important;
}
.header p{
	color: #ada7a7;
	font-size: 13px;
}
.header-top{
	height: 120px;
}
.logo-img{
	padding-top: 4px;
}
.logo-heading{
	    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
     animation: blinker 1s linear infinite;
}
.header .head-link {
	color: #ffffff;
	display: block;
	float: left;
	padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    height: 50px;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}
.header a strong {
	display: inline-block;
	margin-top: 0px;
	position: absolute;
	top:10px;
	left: 56px;
}
.header a img {
	display: inline;
    margin-top: 4.5px;
    width: 40px;
}
.demoh{
	color: slategray;
}
#eXTReMe-Free-demoit{
	display: none;
}
.bottom-bar{
	background-color: #222222;
	margin-top: 160px;
	padding: 21px 0px;
}
.post-view-btn{
	font-size: 23px;
    font-weight: bold;
    border-radius:0px !important
}
.btn-new-link{
	margin-top: 15px;
    font-size: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px;
}
.row{
	margin-right: 0px !important;
    margin-left: 0px !important;
}